p code {
  font-family: Inconsolata, Consolas, monospace;
  padding: 5px;
  border-radius: 5px;
  border: 1px #d2d2d2 solid;
  background: #fafafa;
}

pre {
  font-family: Inconsolata, Consolas, monospace;
  padding: 10px;
  overflow-x: auto;
  border-radius: 5px;
  border: 1px #d2d2d2 solid;
  background: #fafafa;
}

#header {
  margin: 30px 0;
}

#related {
  margin-top: 20px;
}

.screenshot {
  margin-top: 20px;
}
