body {
  background: #fff;
}

p {
  font-size: 16px;
}

pre {
  background: #f7f8f9;
  border: none;
  border-left: 6px solid #558abb;
  border-radius: 0px;
}

#header {
  margin: 30px 0;
}

#related {
  margin-top: 20px;
}

.screenshot {
  margin-top: 20px;
}
